Package: fonts-noto-sans
Version: 0.1
Architecture: amd64
Maintainer: AnTo SamalonA <ansamsoftdev@gmail.com>
Installed-Size: 51
Section: x11
Priority: optional
Homepage: https://www.google.com/get/noto/#sans-java
Description: Fonts Noto Sans is designed to be used as an interface font on free graphics server such as X.org.
 Fonts Noto Sans is licensed under the Open Font License (explisit information is embedded in each OTF)
