Source: fonts-noto-sans
Section: x11
Priority: optional
Maintainer: AnTo SamalonA <ansamsoftdev@gmail.com>
Build-Depends: cdbs, debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.google.com/get/noto/#sans-java

Package: fonts-noto-sans
Architecture: any
Depends: defoma, fontconfig
Description: fonts-noto-sans is designed to be used as an interface font on free graphics servers such as X.org.
 fonts-noto-sans is licensed under the Open Font License (explicit information is embedded in each OTF).
